<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <script type="text/javascript" src="/static/huiadmin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/static/huiadmin/lib/respond.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/huiadmin/static/h-ui/css/H-ui.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/huiadmin/static/h-ui.admin/css/H-ui.admin.css"/>
    <link rel="stylesheet" type="text/css" href="/static/huiadmin/lib/Hui-iconfont/1.0.8/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/static/huiadmin/static/h-ui.admin/skin/default/skin.css" id="skin"/>
    <link rel="stylesheet" type="text/css" href="/static/huiadmin/static/h-ui.admin/css/style.css"/>
    <script type="text/javascript" src="/static/huiadmin/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <link rel="stylesheet" href="/static/zTree/css/demo.css" type="text/css">
    <link rel="stylesheet" href="/static/zTree/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <script type="text/javascript" src="/static/huiadmin/lib/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/huiadmin/lib/layer/2.4/layer.js"></script>
    <script type="text/javascript" src="/static/huiadmin/static/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" src="/static/huiadmin/static/h-ui.admin/js/H-ui.admin.js"></script>
    <script type="text/javascript" src="/static/huiadmin/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
    <script type="text/javascript" src="/static/huiadmin/lib/jquery.validation/1.14.0/validate-methods.js"></script>
    <script type="text/javascript" src="/static/huiadmin/lib/jquery.validation/1.14.0/messages_zh.js"></script>
    <script type="text/javascript" src="/static/js/tool.js"></script>
    <script type="text/javascript" src="/static/zTree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/static/zTree/js/jquery.ztree.excheck.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <title>添加管理员</title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-admin-add" action="javascript:add();">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>用户名：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" style="width: 200px" value="" placeholder="" id="username"
                       name="username" autocomplete="off">
            </div>
        </div>
        <input type="password" style="display:none">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>密码：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="password" class="input-text" style="width: 200px" value="" placeholder="" id="password"
                       name="password" autocomplete="off">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">状态：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box" style="width:200px;">
                    <select class="select" name="status" id="status" size="1">
                        <option value="1" selected>开启</option>
                        <option value="0">关闭</option>
                    </select>
                </span>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">权限配置：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <div class="content_wrap">
                    <div class="zTreeDemoBackground">
                        <ul id="treeDemo" class="ztree"></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>
<script type="text/javascript">
    /**
     * @权限配置zTree，请勿修改
     * @type {{check: {enable: boolean}, data: {simpleData: {enable: boolean}}}}
     */
    var setting = {
        check: {
            enable: true
        },
        data: {
            simpleData: {
                enable: true
            }
        },

    };
    var zNodes = {$auth|raw};
    var code;

    function setCheck() {
        var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
            py = $("#py").attr("checked") ? "p" : "",
            sy = $("#sy").attr("checked") ? "s" : "",
            pn = $("#pn").attr("checked") ? "p" : "",
            sn = $("#sn").attr("checked") ? "s" : "",
            type = {"Y": py + sy, "N": pn + sn};
        setting.check.chkboxType = { "Y" : "ps", "N" : "s" };
        showCode('setting.check.chkboxType = { "Y" : "' + type.Y + '", "N" : "' + type.N + '" };');
    }

    function showCode(str) {
        if (!code) code = $("#code");
        code.empty();
        code.append("<li>" + str + "</li>");
    }

    $(document).ready(function () {
        $.fn.zTree.init($("#treeDemo"), setting, zNodes);
        setCheck();
        $("#py").bind("change", setCheck);
        $("#sy").bind("change", setCheck);
        $("#pn").bind("change", setCheck);
        $("#sn").bind("change", setCheck);
    });

    //添加
    function add() {
        var treeObj = $.fn.zTree.getZTreeObj("treeDemo"),
            nodes = treeObj.getCheckedNodes(true),
            v = "";
        for (var i = 0; i < nodes.length; i++) {
            v += nodes[i].id + ",";
        }

        post("/admin/admin/add", {
            username: $("#username").val(),
            password: $("#password").val(),
            auth: v,
            status: $("#status").val()
        }, function (msg, data) {
            layer.msg(msg, {icon: 1});
            setTimeout(function () {
                window.parent.location.reload();
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            }, 500);
        })
    }
</script>
</body>
</html>